.header-navbar {
    background-color: #4f46e5;
}

.header-navbar .nav-link {
    color: white;
}

.header-navbar .navbar-brand:hover {
    color: #c7d2fe;
}

.header-navbar .nav-link:hover {
    color: #c7d2fe;
}